@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@font-face{font-family:TeutonNormal;
	src:url(teutonnormal-webfont.eot);
	src:url(teutonnormal-webfont.eot?#iefix) format('embedded-opentype'),
	url(teutonnormal-webfont.woff) format('woff'),
	url(teutonnormal-webfont.ttf) format('truetype'),
	url(teutonnormal-webfont.svg#TeutonNormal) format('svg');
	font-weight:400;font-style:normal
}

@font-face{font-family:Teuton;
	src:url(teuton24pro-webfont.eot);
	src:url(teuton24pro-webfont.eot?#iefix) format("embedded-opentype"),
	url(teuton24pro-webfont.woff) format("woff"),
	url(teuton24pro-webfont.ttf) format("truetype"),
	url(teuton24pro-webfont.svg#teuton_24_proregular) format("svg");
	font-weight:400;font-style:normal
}

@font-face{font-family:Teuton;
	src:url(teuton25pro-webfont.eot);
	src:url(teuton25pro-webfont.eot?#iefix) format("embedded-opentype"),
	url(teuton25pro-webfont.woff) format("woff"),
	url(teuton25pro-webfont.ttf) format("truetype"),
	url(teuton25pro-webfont.svg#teuton_25_proregular) format("svg");
	font-weight:600;font-style:normal
}

@font-face{font-family:Teuton;
	src:url(teuton26pro-webfont.eot);
	src:url(teuton26pro-webfont.eot?#iefix) format("embedded-opentype"),
	url(teuton26pro-webfont.woff) format("woff"),
	url(teuton26pro-webfont.ttf) format("truetype"),
	url(teuton26pro-webfont.svg#teuton_26_proregular) format("svg");
	font-weight:700;font-style:normal
}

@font-face{font-family:"Open Sans";
	src:url(OpenSans-Regular-webfont.eot);
	src:url(OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),
	url(OpenSans-Regular-webfont.woff) format('woff'),
	url(OpenSans-Regular-webfont.ttf) format('truetype'),
	url(OpenSans-Regular-webfont.svg#open_sansregular) format('svg');
	font-weight:400;font-style:normal
}