.icons-sprite, .icons-bomba-check-icon, .icons-bomba-icon, .icons-bomba-pb-icon, .icons-cinema-check-icon, .icons-cinema-icon, .icons-cinema-pb-icon, .icons-colecao-check-icon, .icons-colecao-icon, .icons-colecao-pb-icon, .icons-navegar-check-icon, .icons-navegar-icon, .icons-navegar-pb-icon, .icons-orelha-check-icon, .icons-orelha-icon, .icons-orelha-pb-icon, .icons-ovo-check-icon, .icons-ovo-icon, .icons-ovo-pb-icon, .icons-sonho-check-icon, .icons-sonho-icon, .icons-sonho-pb-icon, .icons-viajar-check-icon, .icons-viajar-icon, .icons-viajar-pb-icon, .icons-whatsapp-check-icon, .icons-whatsapp-icon, .icons-whatsapp-pb-icon, .icons-wi-fi-check-icon, .icons-wi-fi-icon, .icons-wi-fi-pb-icon {
  background-image: url(../img/icons-sdb60d29d49.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 5px;
  float: left;
}


.icons-bomba-check-icon {
  background-position: 0 0;
}

.icons-bomba-icon {
  background-position: 0 -40px;
}

.icons-bomba-pb-icon {
  background-position: 0 -80px;
}

.icons-cinema-check-icon {
  background-position: 0 -120px;
}

.icons-cinema-icon {
  background-position: 0 -160px;
}

.icons-cinema-pb-icon {
  background-position: 0 -200px;
}

.icons-colecao-check-icon {
  background-position: 0 -240px;
}

.icons-colecao-icon {
  background-position: 0 -280px;
}

.icons-colecao-pb-icon {
  background-position: 0 -320px;
}

.icons-navegar-check-icon {
  background-position: 0 -360px;
}

.icons-navegar-icon {
  background-position: 0 -400px;
}

.icons-navegar-pb-icon {
  background-position: 0 -440px;
}

.icons-orelha-check-icon {
  background-position: 0 -480px;
}

.icons-orelha-icon {
  background-position: 0 -520px;
}

.icons-orelha-pb-icon {
  background-position: 0 -560px;
}

.icons-ovo-check-icon {
  background-position: 0 -600px;
}

.icons-ovo-icon {
  background-position: 0 -640px;
}

.icons-ovo-pb-icon {
  background-position: 0 -680px;
}

.icons-sonho-check-icon {
  background-position: 0 -720px;
}

.icons-sonho-icon {
  background-position: 0 -760px;
}

.icons-sonho-pb-icon {
  background-position: 0 -800px;
}

.icons-viajar-check-icon {
  background-position: 0 -840px;
}

.icons-viajar-icon {
  background-position: 0 -880px;
}

.icons-viajar-pb-icon {
  background-position: 0 -920px;
}

.icons-whatsapp-check-icon {
  background-position: 0 -960px;
}

.icons-whatsapp-icon {
  background-position: 0 -1000px;
}

.icons-whatsapp-pb-icon {
  background-position: 0 -1040px;
}

.icons-wi-fi-check-icon {
  background-position: 0 -1080px;
}

.icons-wi-fi-icon {
  background-position: 0 -1120px;
}

.icons-wi-fi-pb-icon {
  background-position: 0 -1160px;
}
